<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head th:include="include/head :: common_header(~{::title},~{},~{::meta},~{::style})">
    <title>Lemon-登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style th:inline="css">
        html,body{height: 100%;}
        body{background: url("[[@{/img/login/background.jpg}]]") no-repeat; overflow: hidden; background-size:cover;}
        .container {width: 970px !important;}
        .login{margin-bottom: 0px; margin-top: 77px;}
        .login-icon{ top: 195px;}
        .login-icon h4{text-align: center; }
        .login-frame{  width: 359px; height: 250px; position: relative;  background-color: #edeff1; border-radius: 6px;}
    </style>
</head>
<body>
    <div class="container">
        <div class="login">
            <div class="login-screen">
                 <div class="login-icon">
                    <img th:src="@{/img/login/icon.svg}" alt="Lemon" />
                    <h4>欢迎使用<small>Lemon</small></h4>
                 </div>
                <iframe class="login-frame" th:src="@{/loginForm.html}" ></iframe>
            </div>
        </div>
    </div>
    <th:block th:include="include/scripts :: common_scripts(~{})" />
</body>
</html>